.about{
    width: 100%;
    padding: 35px 20px;
    background-color: white;
    box-shadow: 0px 1px 5px rgb(235, 233, 233);
    border-radius: 5px;
    @include sml{
        padding: 35px 50px;
    }
    > h3{
        font-size: 17.2px;
        margin-bottom: 25px;
        font-weight: 700;
        @include sml{
            font-size: 19.7px;
            margin-bottom: 40px;
        }
    }

    > p{
        font-size: 13.4px;
        line-height: 1.7;
        margin-bottom: 22px;
        color: $Darkgray;

        @include sml{
            font-size: 16px;
            line-height: 1.9;
            margin-bottom: 30px;
        }
    }

    .card{
        width: 100%;
        border: 1px solid rgb(214, 214, 214);
        margin-top: 33px;
        border-radius: 7px;
        padding: 20px 22.5px;

        @include sml{
            padding: 30px 28px;
        }
        &.out-of-stock{
            opacity: .5;
        }
        .title{
            @include sml{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
            }
            > h4{
                font-size: 13.5px;
                margin-bottom: 8px;
                @include sml{
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            > h5{
                font-size: 13.5px;
                font-weight: 500;
                color: $Moderatecyan;
                margin-bottom: 23px;
                @include sml{
                    font-size: 15px;
                }
                
            }
        }

        > p{
            font-size: 13.5px;
            line-height: 1.7;
            color: $Darkgray;
            margin-bottom: 23px;
            @include sml{
                font-size: 16px;
                margin-bottom: 25px;
            }
        }

        .stats{
            @include sml{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            > p{
                
                font-size: 30.5px;
                font-weight: 700;
                > span{
                    font-size: 15px;
                    font-weight: 300;
                    text-align: center;
                    color: $Darkgray;
                }
                margin-bottom: 18px;
            }
            > button{
                width: 155px;
                height: 50px;
                border: none;
                background-color: $Moderatecyan;
                border-radius: 30px;
                font-size: 13.5px;
                font-weight: 700;
                font-family: 'Commissioner', sans-serif;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: $Darkcyan;
                }
                &.out-of-stock{
                    background-color: black;
                    opacity: .5;
                }
            }
        }
    }
}